* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.content-below-navbar {
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    display: flex;
}
